@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image-login {
    background-image: url('./assets/svg/bg-login-img.svg');
}
.bg-capcha {
    background-image: url('./assets/svg/bg-capcha.svg');
}

.content-container {
    height: calc(100vh - 76px);
}

.width-box-statistic {
    width: calc((100% / 2) - 20px);
}